*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	min-height: 100vh;
	position: relative;
	background: #ddc61b;
	display: block;
	align-items: center;
}

.btn{
	width: 500px;
	height: 100px;
	margin-top: 40px;
	left: -400px;
	background-image: linear-gradient(to right,#f01f1f,#f26811);
	border-radius: 55px;
	position: relative;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
	cursor: pointer;
	transition: 2s;
}
.btn span{
	font-size: 2.7em;
	font-family: verdana,sans-serif;
	color: #fff;
	font-weight: 700;
	line-height: 100px;
	margin-left: 150px;
	transition: 1.3s ease-in-out;
}
.btn:nth-child(1){
	background-image: linear-gradient(to right,#48ff49,#088009);
}
.btn:nth-child(2){
	background-image: linear-gradient(to right,#8000ff,#de00ff);
}

.btn:nth-child(3){
	background-image: linear-gradient(to right,#29272b,#a2a2a2);
}


.btn:hover{
    border-radius: 0px;
	margin-left: 400px;
	transition: 1.3s ease-in-out;
	position: relative;
}
